@model List<Category>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">


<link href="~/css/adminFormStyle.css" rel="stylesheet">
@*<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <!-- Add other category details or actions within the card -->
                </div>
            </div>
        </div>
    }
</div>
<form asp-controller="Admin" asp-action="AddQuestions" method="Post" style="font-family:Scheherazade New; direction:rtl;">

    <textarea name="text" type="text" />


    <button class="loginnow" type="submit">اضافة</button>
</form>*@

<section class="logRegForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <div class="contact_form_wrappre2">
                    <h2>
                        اضافة سؤال

                    </h2>
                    <form asp-controller="Admin" asp-action="AddQuestions" method="Post" style="font-family:Scheherazade New; direction:rtl; ">
                        <div class="inputArea">
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group">
                                        <select class="form-control" id="categorySelect" name="Category">
                                            @foreach (var category in Model)
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        </select>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="url">
                                                <i class="fas fa-comment"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group">
                                        <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="الأسئلة" name="text"></textarea>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="url">
                                                <i class="fas fa-comment"></i>

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                         
                            <div class="form-row">
                                <div class="col-md-12">
                                    <button class="loginnow" type="submit">اضافة</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


  