@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<link href="~/css/adminFormStyle.css" rel="stylesheet">


<section class="logRegForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10">
                <div class="contact_form_wrappre2" >
                    <h2 style="font-family: 'Tajawal', sans-serif;">
                        اضافة حساب جديد

                    </h2>
                    <form asp-controller="User" asp-action="Register" method="post" class="needs-validation" style="font-family:Scheherazade New;  direction: rtl;" novalidate autocomplete="off">
                        <div class="inputArea">
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group">
                                       
                                        <input type="text" class="form-control" name="Username" placeholder="اسم المستخدم" style="font-family: 'Tajawal', sans-serif;" required>
                                        <div class="invalid-feedback">
                                            Please provide a username.
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="username">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="password" class="form-control" name="Password" style="font-family: 'Tajawal', sans-serif;" placeholder="كلمة المرور" required>
                                        <div class="invalid-feedback">
                                            Please provide a password.
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="url">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="Email" style="font-family: 'Tajawal', sans-serif;" placeholder="الإيميل" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid email.
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="Site">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group">
                                        <input type="tel" class="form-control" name="PhoneNumber" style="font-family: 'Tajawal', sans-serif;direction: rtl;" placeholder="رقم الهاتف" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid phone number.
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="Site">
                                                <i class="fas fa-phone"></i>
                                              
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                          
                            <div class="form-row">
                                <div class="col-md-12">
                                    <button class="loginnow" type="submit" style="font-family: 'Tajawal', sans-serif;">تسجيل</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

