<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Topic Listing Bootstrap 5 Template</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="~/WebsiteStyle/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/WebsiteStyle/css/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

    <link href="~/WebsiteStyle/css/templatemo-topic-listing.css" rel="stylesheet">
    <!--

    TemplateMo 590 topic listing

    https://templatemo.com/tm-590-topic-listing

    -->
</head>

<body id="top">

    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/logo.png" width="60" height="60" alt="Logo Image" class="img-fluid">
                   
                </a>

                <div class="d-lg-none ms-auto me-4">
                    <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>

                       

                      
                      
                    </ul>

                    <div class="d-none d-lg-block">
                        <a asp-area="" asp-controller="Home" asp-action="Login" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div >
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" asp-area="" asp-controller="Home" asp-action="Index">
                        <span style="font-family: 'Tajawal', sans-serif;">بنك الأسئلة</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a asp-area="" asp-controller="Home" asp-action="Questions" class="site-footer-link">Questions</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a  asp-area="" asp-controller="Home" asp-action="Privacy" class="site-footer-link">Privacy</a>
                        </li>

                       

                      
                    </ul>
                </div>

              

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                   

                    <p class="copyright-text mt-lg-5 mt-4">
                        Copyright © 2048  All rights reserved.
                       </p>

                </div>

            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="~/WebsiteStyle/js/jquery.min.js"></script>
    <script src="~/WebsiteStyle/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebsiteStyle/js/jquery.sticky.js"></script>
    <script src="~/WebsiteStyle/js/click-scroll.js"></script>
    <script src="~/WebsiteStyle/js/custom.js"></script>

</body>
</html>
