@{
    Layout = null;
}
<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<link href="~/css/LoginRegister.css" rel="stylesheet">




<div class="Main-container">
    <div class="container-login">
        <div class="wrap-login">

            <div class="login-pic">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdj9ByosrjA-nsg7GCqE3bAawKrz4RmmzPjA&usqp=CAU" style=" padding-top: 120px;" alt="IMG">
            </div>


            <form class="login-form" asp-controller="User" asp-action="Login" method="post" style="padding-left:20px;">
                <span class="login-form-title">بنك الأسئلة</span>



                <div class="wrap-input">
                    <br>
                  @* <label>USERNAME</label>*@
                    <input type="text" id="username" class="input" name="username" placeholder="اسم المستخدم">      
                   
                </div>
                <div class="wrap-input">
                    <br>
                 @*   <label>PASSWORD</label>
*@
                    <input type="password" class="input" id="password" name="password" placeholder="كلمة المرور">

                </div>

                <div class="login-form-btn-container">
                    <button type="submit" class="login-form-btn">دخول</button>
                </div>

              

                <div class="text-center p-t-2">
                    <a asp-controller="Home" asp-action="Index" method="post" class="txt2">Back to Home <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>

                </div>

            </form>
            @* <div asp-validation-summary="All"></div> *@

        </div>
    </div>
</div>

