@{
    Layout = null;
}

<style>
    .login-form {
      
        padding: 20px;
       
      
        text-align: center;
    }

        .login-form button[type="submit"] {
            background-color: orange;
            border: none;
        }

    body {
        font-family: 'Scheherazade New', sans-serif; /* Apply the font to the entire body */
    }
    /* Adjustments for specific elements */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Scheherazade New sans-serif; /* Apply the font to headings */
    }

    .form-control {
        font-family: 'Scheherazade New', sans-serif; /* Apply the font to form elements */
        direction: rtl;
    }

    .btn-orange {
        padding:3px 40px 3px 40px !important;
        /* Adjust padding for larger button size */
        font-size: 24px; /* Increase font size */
        border-radius: 8px!important; /* Adjust border radius for larger button */
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">

<div class="container-fluid" style="background-color: rgba(69, 129, 224, 0.8); height: 100vh;">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="login-form">
                <div class="mb-4">
                    <img src="/img/logo.png" alt="Logo Image" width="80" height="80" class="img-fluid">
                    <br />
                    <br />
                    <br />

                    <h1 class="text-white">بنك الأسئلة</h1>
                    <p style="color:white; width:70%; margin:0 auto;">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                        diam nonummy nibh euismod tincidunt ut
                    </p>
                </div>
                <form asp-controller="User" asp-action="Login" method="post">
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="اسم المستخدم" class="form-control" style="width: 40%; margin: 0 auto;">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="كلمة المرور" class="form-control" style="width: 40%; margin: 0 auto;">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-orange text-white" style="border-radius: 12px; padding: 15px 30px;">دخول</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
