

<style>
    .sub{
        font-weight: 100;
        color:black !important;
        text-align:left;
        border-top: 1px solid;
    }
    body {
        font-family: 'Scheherazade New', sans-serif; /* Apply the font to the entire body */
    }

    /* Styling for the form elements */
    .login-form {
        text-align: center;
    }
    p{
        font-weight: bold;
        color: #536cb594;
    }
    #question{
        padding: 2%;
        margin: 0 auto;
        border: 2px solid #536cb594;
        width: 70%;
        text-align: center;
        height: 15%;
        border-radius: 35px;
    }   .form-control {
        width: 70%;
        margin: 10px auto;
        padding: 10px;
        font-size: 18px;
        border-radius: 8px;
        border: 1px solid #ccc;
        direction: rtl; /* Align text from right to left */
    }

    .btn-orange {
        padding: 4px 36px 4px 36px!important;
        font-size: 24px;
        width:auto;
        border-radius: 8px !important;
        direction: rtl; /* Align text from right to left */
    }

    /* Styling for the bordered box around the heading */
    .text-blue {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        color: black;
        width:60%;
        
        padding: 2px;
        display: inline-block;
    }

    /* Styling for image */
    .img-container {
        margin-bottom: 20px; /* Adjust spacing as needed */
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
<br />
<br />

<div class="container-fluid" style="height: 100vh;">
    <div  style="height: 100vh;">
        <div >
            <div class="login-form">
                <!-- Image row -->
                <div class="img-container">
                    <img src="/img/logo.png" width="80" height="80" alt="Logo Image" class="img-fluid">
                </div>
                <br />
      
           

                <!-- Heading row -->
                <div class="text-blue" style="margin-bottom:-10px;">
                    <h5>السؤال : ما هي جرعة فیتامین د الیومیة ؟</h5>
                    <br />
                </div>
                
                <!-- Textarea in bordered box -->
                <div id="question">
                    <p>
                        عظم الناس تناول 100 میکروغرام والمساوي 4 آلاف وحدة دولیة یومیا یعتبر ً آمنا. ويفبضعة
                        أشخاص، تناول الکثیر من حبوب فیتامین د، خلال فترة طویلة من الزمن قد یسبب تراکم
                        .الکالسیوميفالجسیم (فرط کالسیوم الدم
                    </p>
                </div>
                <br />
                <div style="width:40%; margin:0 auto;"  >
                    <h5>مواضيع متعلقة</h5>
                </div>
                <div class="text-blue" style="margin-bottom:-10px; width:40% !important;">
                    <p class="sub">جرعة فيتامين د اليومية كم نقطة؟</p>
                    <p class="sub">افيتامين د 5000 كم مرة باليوم؟</p>
                    <p class="sub">هل جرعة فيتامين د 50000 امنه؟</p>

                    
                </div>
                <br />
                <!-- Button for submission -->
               
            </div>
        </div>
    </div>
</div>
