section {
    padding: 10px 0;
    min-height: 100vh;
}


.logRegForm .loginnow,
.logRegForm .lostpass,
.logRegForm .loginwith,
.logRegForm .loginwithfb,
.logRegForm .loginwithgoogle {
    width: 100%;
    height: 60px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}

    .logRegForm .loginnow:focus,
    .logRegForm .lostpass:focus,
    .logRegForm .loginwith:focus,
    .logRegForm .loginwithfb:focus,
    .logRegForm .loginwithgoogle:focus {
        outline: 0px;
    }


.logRegForm .loginwith {
    color: #cecece;
    background: none;
    margin: 3px 0px 3px;
    display: inline-block;
}

.logRegForm .loginnow {
    background: #30557a !important;
    border: 2px solid;
}




.logRegForm .lostpass {
    background: #555;
    border: 2px solid #555;
}

    .logRegForm .lostpass:hover {
        background: #30557a;
        border: 2px solid ;
        color: #555;
    }


.logRegForm .contact_form_wrappre2 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    padding: 30px 55px 30px;
}

.input-group-text {
    display: flex;
    justify-content: center;
}

.logRegForm .input-group-text {
    padding: 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #30557a;
    border: 0px solid;
    border-radius: 0px;
    width: 60px;
    height: 60px;
}

    .logRegForm .input-group-text i {
        color: #fff;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 14px;
    }

.logRegForm .input-group {
    margin-bottom: 30px;
}

    .logRegForm .input-group input {
        padding-left: 30px;
        border: 2px solid rgba(0, 0, 0, 0.10);
    }

.logRegForm textarea {
    width: 100%;
    height: 240px;
    padding-left: 30px;
    padding-top: 25px;
    border: 2px solid rgba(0, 0, 0, 0.10);
}

.logRegForm .input-group .form-control {
    height: 60px;
    border-radius: 0px;
}

.logRegForm h2 {
    font-family: 'Tajawal', sans-serif;
    color: #333;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
